* {
    box-sizing: border-box;
}

body{
    background-color: #DDE3FD;
    color: #091034;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.header {
    background-color: #0A2299;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.menu li{
    padding: 8px;
    margin-bottom: 7px;
    background-color: #798EF6;
    color: black;
}

.menu ul li:hover{
    cursor: pointer;
}

.aside{
    background-color: #798EF6;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.footer{
    background-color: #0A2299;
    color: #DDE3FD;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer p{
    margin-top: 5px;
    margin-bottom: 5px;
}

[class*="col-"]{
    width: 100%;
    float: left;
    padding: 5px;
}

@media only screen and (min-width: 769px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
